/* body */
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

/* navbar */
nav {
  width: 80%;
  height: 2.5rem;
  position: absolute;
  left: 12.5%;
  top: 85px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(0deg, rgba(118, 118, 118, 1) 0%, rgba(95, 95, 95, 1) 54%, rgba(140, 140, 140, 1) 100%);
  color: white;
  border-radius: 6px;
  font-size: 12px;
}

.nav-item {
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 1px black;
}

.nav-item:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.nav-item:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

nav img {
  width: 1rem;
  height: auto;
}

nav .search {
  padding: 0 1rem 0 1rem;
  position: relative;
}

nav .search input {
  padding-left: 2rem;
  width: 5rem;
  height: 20px;
  background-color: transparent;
  border: solid thin gray;
  border-radius: 12px;
  box-shadow: inset 0 2px 4px black;
}

nav .search i {
  position: absolute;
  left: 28%;
  font-size: 10px;
}

/* main */

.main {
  height: 90vh;
  background: url('./images/hero.jpg') 40% 100% no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: 100;
}

.main h1 {
  font-size: 3rem;
}

.main h2 {
  width: 41rem;
  font-size: 1.25rem;
}